@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
*, *::after, *::before {
  box-sizing: inherit
}

* {
  font: inherit
}


html {
  box-sizing: border-box
}

body {
  background-color: #fff;
  color: #193647 !important;
  font-family: 'Poppins';
}

.page-section h2.section-heading {
  font-family: 'Poppins';
}

.section-subheading{
  text-align: justify;
  font-size:
}

.panel-heading {
  margin-bottom: 0px;
  background-color: #f2f2f2 !important;
  border-bottom: none !important;
  font-family: 'Poppins';
}

.panel {
  margin: 0px !important;
  margin-bottom: 20px !important;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff !important;
  box-shadow: none;
  width: 100% !important;
  border: none !important;
}

.panel:hover {
  /* box-shadow: 0px 10px 10px 1px rgba(8, 0, 0, 0.1); */
  -webkit-box-shadow: #CCC 0 0 .25em;
  -moz-box-shadow: #CCC 0 0 .25em;
  transform: scale(1.0, 1.0);
}


.panel-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 20px 40px !important;
  font-size: 18px;
  text-align: justify;
  line-height: 2.0;
  color: #193647;
  font-family: 'Poppins', sans-serif;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom: solid 1px #f2f2f2;
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
 }


footer a {
  font-family: 'Poppins', sans-serif;
  color: #fff !important;
}
a {
  font-family: 'Poppins', sans-serif;
  color: #193647 !important;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}


.accordion {
  width: 100%;
}

.panel-title  {
    display: block;
    line-height: normal;
    text-decoration: none;
    padding: 20px 40px;
    font-weight:600;
    font-size: 18px;
  }


.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f0de";
    margin:  4px auto;
    color:#A2A9AD!important;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f0dd";
    color:#193647!important;
    margin:  4px auto;
}

.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus  {
    text-decoration:none;
}

li::marker{
  float: right !important;
  content:"assets/img/checkbox.svg" !important;
  color:#fff!important;
  margin:  4px auto;
}

@media (max-width: 576px) {

  .panel-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 20px !important;
    font-size: 14px !important;
    font-weight: 300;
    text-align: left;
    line-height: 2.0;
    color: #193647;
    font-family: 'Poppins';
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom: solid 1px #f2f2f2;
    border-left: solid 1px #f2f2f2;
    border-right: solid 1px #f2f2f2;
    text-align: justify;
   }

   .panel {
     margin: 0px !important;
     margin-bottom: 20px !important;
     transition: all .1s cubic-bezier(0.175, 0.885, 0, 1);
     background-color: #fff !important;
     box-shadow: none;
     width: 100% !important;
     border: none !important;
   }

   .panel-title  {
       display: block;
       line-height: normal;
       text-decoration: none;
       padding: 15px 20px;
       font-weight:500;
       font-size: 14px;
     }

}
