4@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");
/*!
 * Bootstrap v4.4.1 (https://getbootstrap.com/)
 */


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(250, 250, 250, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #193647;
  text-align: left;
  background-color: #f9f9f9;
}



a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}


img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}



label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

.container {
  width: 100%;
  padding-right: 15px;
  /* padding-left: 0.75rem; */
  margin-right: auto;
  margin-left: auto;
}

.demo {
	padding-top: 60px;
	padding-bottom: 110px;
}

.demo-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background-color: #212121;
	text-align: center;
}

.demo-footer > a {
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 1030px) {

  .img-lg{
    display: none !important;
  }
}
@media (min-width: 1030px) {

  .img-sm{
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

}

@media (min-width: 1400px) {
  .container {
    max-width: 1440px;
  }

  .right {
    float: right;
    margin-left: 0em;
    padding-left: 90px!important;
    width: 100% !important;
  }

  .left {
    width: 0px !important;
  }

  .float-img {
    left: -320px !important;
  }
}



@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }

  .card-title{
    font-size: 16px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}


@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-responsive-md>.table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .clear-text-img {
    padding: 0px !important;
    /* height: 300px !important; */
    margin-top:20px;
  }

  .table-responsive-lg>.table-bordered {
    border: 0;
  }

  header.masthead .masthead-heading {
    font-size: 35px !important;
    font-weight: 800;
    line-height: 1.2 !important;
    margin-bottom: 2rem !important;
    margin-right: 0rem;
  }

  header.masthead {
    padding-top: 4rem !important;
    padding-bottom: 6rem !important;
    height: 600px !important;
    text-align: left;
    color: #fff !important;
    background-image: url(../assets/img/header-sq.webp) !important;
    background-position: center center !important;
    background-size: cover !important;
    margin-bottom: 0 !important;
  }

  .scroll-btn {
    display: none;
  }

  .btn-xl {
    display: inline-block;
    font-weight: 400;
    color: #193647;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 15px 25px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  header.masthead .masthead-subheading {
    font-size: 16px !important;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .page-section h2.section-heading {
    font-weight: 600;
    margin-top: 2rem !important;
    margin-bottom: 1rem;
  }

  .page-section h3.section-subheading {
    margin-bottom: 1rem !important;
  }

  .hiw-section {
    padding: 30px !important;
    padding-top: 40px !important;
    padding-left: 0px;
    border-top-right-radius: 40px !important;
    background: linear-gradient(0deg, rgba(249, 249, 249, 1) 0%, rgba(248, 248, 248, 1) 25%, rgba(220, 166, 159, 0.5) 100%) !important;
  }

  .divide {
    display: none;
  }

  .hiw {
    padding-left: 10px !important;
  }

  .hiw-cards {
    padding: 30px 15px !important;
    padding-right: 10px !important;
    margin: auto;
    margin-bottom: 0px !important;
    width: 100% !important;
    background: transparent !important;
    box-shadow: none !important;
    min-height: auto !important;
  }

  .card-title {
    font-size: 16px !important;
    text-align: left;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
  }

  .hiw-text {
    font-size: 14px !important;
    text-align: left;
  }

  .icons {
    margin-bottom: 20px !important;
  }

  /* .text-lg-left{
    font-size: 16px;
  } */

  .copyright {
    font-weight: 400;
    text-align: left;
    font-size: 14px !important;
  }

  .footer-1 {
    display: none !important;
  }

  .footer-2 {
    display: inline-block !important;
  }
}

@media (max-width: 1199.98px) {

  .hiw-page-section {
    background-position: center right;
    background-size: cover !important;
  }

  .cta {
    padding: 50px !important;
  }

  .cta-btn img {
    width: 190px !important;
  }

  header.masthead {
    padding-top: 4rem !important;
    padding-bottom: 12rem;
    height: 600px !important;
    margin-bottom: 100px;
    margin-top: 20px;
  }

  .scroll-btn {
    position: relative;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(162, 169, 173, 0.35);
  border-radius: 0.25rem;
  margin-bottom: 25px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}


.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline .form-check {
  width: 100%;
}


.scroll-btn {
  position: relative;
  margin-left: 250px;
  bottom: 60px;
  /* display: none; */
}


.btn {
  display: inline-block;
  font-weight: 400;
  color: #193647;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #193647;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(25, 54, 71, 0.35);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #193647;
  border-color: #193647;
}

.btn-primary:hover {
  color: #A2A9AD;
  background-color: #193647;
  border-color: #A2A9AD;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #193647;
  border-color: #193647;
  box-shadow: 0 0 0 0.2rem rgba(25, 54, 71, 0.35);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #A2A9AD;
  border-color: #A2A9AD;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #193647;
  border-color: #193647;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}


.btn-light {
  color: #193647;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:hover {
  color: #193647;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-light:focus, .btn-light.focus {
  color: #193647;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
  color: #193647;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show>.btn-light.dropdown-toggle {
  color: #193647;
  background-color: #dae0e5;
  border-color: #d3d9df;
}


.btn-outline-primary {
  color: #193647;
  border-color: #193647;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #193647;
  border-color: #193647;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(25, 54, 71, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #193647;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #193647;
  border-color: #193647;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: none);
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}


.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:hover {
  color: #193647;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}


.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #343a40;
  background-color: transparent;
}



.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
  box-shadow: none;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.btn-lg, .btn-group-lg>.btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-sm, .btn-group-sm>.btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block+.btn-block {
  margin-top: 0.5rem;
}

input[type=submit].btn-block,
input[type=reset].btn-block,
input[type=button].btn-block {
  width: 100%;
}

.fade {
  transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}

.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}

.dropup,
.dropright,
.dropdown,
.dropleft {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #193647;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

@media (min-width: 576px) {
  .dropdown-menu-sm-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-sm-right {
    right: 0;
    left: auto;
  }
}

@media (min-width: 768px) {
  .dropdown-menu-md-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-md-right {
    right: 0;
    left: auto;
  }
}

@media (min-width: 992px) {
  .dropdown-menu-lg-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-lg-right {
    right: 0;
    left: auto;
  }

  .pages, .social {
    line-height: 3.5 !important;
  }
}

@media (min-width: 1200px) {
  .dropdown-menu-xl-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-xl-right {
    right: 0;
    left: auto;
  }
}

@media (min-width: 1450px) {
  header.masthead {
    height: auto !important;
    padding-top: 18rem !important;
    padding-bottom: 2rem !important;
    background-image: url(../assets/img/header-bg.webp) !important;
    background-size: auto !important;
    background-position: right;
    margin-bottom: 0px;
  }

  .scroll-btn {
    position: relative;
    margin-left: 300px;
    bottom: 40px;
  }
}



.dropleft .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #193647;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #193647;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #193647;
  text-decoration: none;
  background-color: #f8f9fa;
}


.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #fed136;
}

.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.tab-content>.tab-pane {
  display: none;
}

.tab-content>.active {
  display: block;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar .container,
.navbar .container-fluid,
.navbar .container-sm,
.navbar .container-md,
.navbar .container-lg,
.navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.page-section.clear {
  height: max-content;
  display: block;
  margin-bottom: 100px;
}

.med-text {
  font-weight: 500 !important;
  font-size: 30px !important;
  margin-bottom: 20px !important;
}

.price-card {
  transition: 0.3s;
  position: relative;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.price-card img {
  height: 100%;
}

.price-caption {
  padding: 2rem !important;
  text-align: center;
  font-size: 24px;
  background-color: #fff;
  color: #193647 !important;
  z-index: 9000;
}

.price-caption-subheading {
  font-size: 24px;
  color: #193647 !important;
}

.text-cover {
  background-color: rgba(25, 54, 71, 0.7);
  position: absolute;
  /* width: 100%; */
  height: 100%;
  z-index: 1;
  color: #fff;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  font-size: 18px;
}

.feature-box {
  padding: 20px;
}

@media (max-width: 575.98px) {

  .navbar-expand-sm>.container,
  .navbar-expand-sm>.container-fluid,
  .navbar-expand-sm>.container-sm,
  .navbar-expand-sm>.container-md,
  .navbar-expand-sm>.container-lg,
  .navbar-expand-sm>.container-xl {
    padding-right: 0;
    padding-left: 0;
  }

  header.masthead-2 .masthead-heading {
    margin-bottom: 0rem !important;
    width: 100% !important;
  }

  header.masthead-2 {
    margin-top: 60px !important;
    height: auto !important;
    padding: 50px 0;
  }

  h5 {
    font-size: 18px;
    font-weight: 600;
  }

  header.masthead {
    padding-bottom: 2.0rem !important;
    color: #ffffff !important;
    background-color: #193647;
    background-image: none !important;
    width: 100%;
    margin: auto;
    display: block;
    padding-top: 9rem !important;
    background-image: url(../assets/img/header-bg-2.webp) !important;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center right;
    background-size: cover !important;
  }

  .page-section h2.section-heading {
    font-size: 24px !important;
  }

  header.masthead .masthead-heading {
    margin-bottom: 2rem;
    margin-right: 5rem !important;
  }

  header.masthead .masthead-subheading {
    font-size: 16px !important;
    margin-bottom: 15px;
  }

  .page-section {
    height: auto;
    margin-bottom: 30px;
  }

  .page-section h3.section-subheading {
    font-size: 14px !important;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  .divide {
    display: none;
  }

  .hiw-section {
    padding: 70px !important;
    padding-top: 30px !important;
    border-top-right-radius: 0px !important;
  }

  .card {
    margin: 20px auto !important;
    transition: all .1s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #A2A9AD;
    width: 90% !important;
    position: relative;
    border-radius: 12px;
  }

  .hiw-cards {
    padding: 24px;
    padding-top: 40px;
    min-height: 200px;
    ;
    margin: auto !important;
    margin-bottom: 20px;
    width: 90% !important;
  }

  .btn-primary {
    color: #fff;
    background-color: #193647;
    border-color: #ffffff;
  }

  .scroll-btn {
    display: none;
    position: relative;
    margin-left: 200px;
  }

  .circle {
    display: none;
  }

  header.masthead-2 {
    margin-bottom: 3rem !important;
  }

  #hiw {
    height: auto;
  }

  .hiw {
    text-align: left;
    padding-left: 30px !important;
  }

  .hiw-page-section {
    padding-bottom: 0px !important;
  }

  .hiw-section {
    padding: 30px !important;
}

.right {
    width: 100% !important;
    padding: 0px !important;
}

  .card-title {
    margin-top: 0px !important;
}

  .service-section .row {
    padding: 3px;
  }

  .service-text {
    padding: 10px 0 !important;
    font-size: 14px !important
  }

  .btn-xl {
    font-size: 14px !important;
  }

  .bullet img {
    max-width: 40px !important;
    margin-right: 5px !important;
  }

  .bullet-2 {
    width: 10%;
    margin-bottom: 10px;
  }

  .address-section {
    display: none;
  }

  .page-section.clear {
    margin-bottom: 30px;
  }

  #services{
    padding: 15px;
  }
  #services .container {
    padding: 0px;
  }

  .bullet{
    width: 30px;
  }

  .features {
    padding: 20px !important;
    padding-bottom: 40px !important;
    border-top-left-radius: 0px !important;
    text-align: left !important;
    height: auto !important;
  }

  .feature-box {
    padding: 0 15px !important;
    margin-bottom: 40px;
  }

  .feature-title{
    font-size: 16px !important;
  }

  .feature-text {
    font-size: 14px;
}

.feature-box .col-md-10 , .col-md-2 {
  padding: 0 !important;
}



  .cta {
    padding: 30px 15px !important;
    border-top-right-radius: 0px !important;
  }

  .white-space {
    display: none;
  }

  .cta-text {
    padding: 5px !important;
  }

  a.cta-btn {
    display: inline-block;
    margin: 20px 10px 0px 0;
    width: 150px;
  }

  .cta-btn img {
    max-width: 100%;
  }

  .cta .demo img {
    float: left;
    margin-top: 70px;
  }

  .service-section {
    padding: 0px !important;
  }

  .pages {
    line-height: 1.0;
    font-size: 12px;
  }


  .page-list, .footer-logo {
    display: none !important;
  }

  .page-list-2 {
    width: auto;
  }

  .footer-nav{
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
    /* width:250px !important; */
  }
  .footer-nav .pages{
    padding: 8px;
    /* width:250px !important; */
  }

  .page-list-2 .pages {
    font-size: 16px;
  }


  .footer-address {
    /* margin: 20px !important; */
    text-align: center;
  }

  .copyright {
    font-size: 13px !important;
    font-weight: 400;
    margin-top: 20px;
  }

  .footer-section, .footer {
    padding:0px !important;
    padding-bottom: 20px!important;
    color: #ffffff;
  }

  .copyright {
    text-align: center;
    font-weight: 400;
  }

  .demo {
    display: none;
  }

  .card__img, .card__img--hover {
    height: 145px !important;
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-sm .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .navbar-expand-sm>.container,
  .navbar-expand-sm>.container-fluid,
  .navbar-expand-sm>.container-sm,
  .navbar-expand-sm>.container-md,
  .navbar-expand-sm>.container-lg,
  .navbar-expand-sm>.container-xl {
    flex-wrap: nowrap;
  }

  .navbar-expand-sm .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
}

@media (max-width: 767.98px) {

  .navbar-expand-md>.container,
  .navbar-expand-md>.container-fluid,
  .navbar-expand-md>.container-sm,
  .navbar-expand-md>.container-md,
  .navbar-expand-md>.container-lg,
  .navbar-expand-md>.container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .navbar-expand-md>.container,
  .navbar-expand-md>.container-fluid,
  .navbar-expand-md>.container-sm,
  .navbar-expand-md>.container-md,
  .navbar-expand-md>.container-lg,
  .navbar-expand-md>.container-xl {
    flex-wrap: nowrap;
  }

  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-md .navbar-toggler {
    display: none;
  }
  .page-list-2 {
    display: none;
  }
}

@media (max-width: 991.98px) {

  .navbar-expand-lg>.container,
  .navbar-expand-lg>.container-fluid,
  .navbar-expand-lg>.container-sm,
  .navbar-expand-lg>.container-md,
  .navbar-expand-lg>.container-lg,
  .navbar-expand-lg>.container-xl {
    padding-right: 0;
    padding-left: 0;
  }

  .float-img {
    display: none;
  }

  .left {
    width: 0% !important;
  }

  .right {
    width: 100% !important;
    padding: 0px !important;
  }
  .feature-box {
    padding: 0px;
    margin-bottom: 40px;
}

.features .col-md-6{
  padding: 10px;
}

.circle {
    width: 272px !important;
    height: 570px !important;
    border-radius: 3% !important;
    top: 50px !important;
}

}

@media (max-width: 1030px) {
  .float-img {
    display: none !important;
  }

  .right {
    width: 100% !important;
    padding:0px !important;
  }

  .hiw {
    padding-left: 0px !important
  }

  .hiw-section {
    padding: 30px !important;
    padding-left: 10px
  }

  .hiw-text {
    font-size: 14px !important;
  }

  .circle {
      width: 520px !important;
      height: 520px !important;
      border-radius: 50% !important;
      top: 20px !important;
  }

  .img-lg{
    display: none !important;
  }
}


.overflow-auto {
  overflow: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.position-static {
  position: static !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}


@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .navbar-expand-lg>.container,
  .navbar-expand-lg>.container-fluid,
  .navbar-expand-lg>.container-sm,
  .navbar-expand-lg>.container-md,
  .navbar-expand-lg>.container-lg,
  .navbar-expand-lg>.container-xl {
    flex-wrap: nowrap;
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media (max-width: 1199.98px) {

  .navbar-expand-xl>.container,
  .navbar-expand-xl>.container-fluid,
  .navbar-expand-xl>.container-sm,
  .navbar-expand-xl>.container-md,
  .navbar-expand-xl>.container-lg,
  .navbar-expand-xl>.container-xl {
    padding-right: 0;
    padding-left: 0;
  }

  header.masthead .masthead-subheading {
    padding-right: 3rem;
  }
}



.cards {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  margin-bottom: 2rem;
}

.card--1 .card__img, .card--1 .card__img--hover {
  background-image: url("../assets/img/portfolio/washing.jpg");
}

.card--2 .card__img, .card--2 .card__img--hover {
  background-image: url("../assets/img/portfolio/dc.jpg");
}

.card--3 .card__img, .card--3 .card__img--hover {
  background-image: url("../assets/img/portfolio/ironing.jpg");
}

.card--4 .card__img, .card--4 .card__img--hover {
  background-image: url("../assets/img/portfolio/self-service.jpg");
}

.card--5 .card__img, .card--5 .card__img--hover {
  background-image: url("../assets/img/portfolio/ironing-n.jpg");
}

.card--6 .card__img, .card--6 .card__img--hover {
  background-image: url("../assets/img/portfolio/duvet.jpg");
}

.hiw-cards {
  padding: 24px;
  padding-top: 40px;
  min-height: 320px;
  margin: auto;
  margin-bottom: 20px;
  background: transparent !important;
  box-shadow: none !important;
}

.hiw-cards:hover {
  background: #fff !important;
  background-color: #ffffff;
  box-shadow: 1px 8px 20px rgba(220, 166, 159, 0.30) !important;
  -webkit-transition: box-shadow .2s ease-in;
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 250px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}

.card {
  margin-bottom: 50px;
  transition: all .1s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #A2A9AD;
  width: 90%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  border: none;
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.0, 1.0);
}

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 24px;
}

.card__category {
  font-family: 'poppins', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #A2A9AD;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.card:hover .card__info {
  background-color: #fff;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}

@media (min-width: 576px) {
  .card-columns {
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }

  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}




@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
  box-shadow: none !important;
}


.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}


.text-white {
  color: #fff !important;
}

.text-primary {
  color: #193647 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #193647 !important;
}


.text-body {
  color: #193647 !important;
}

.text-muted {
  color: #193647 !important;
}


.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-break {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

.text-reset {
  color: inherit !important;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

@media print {

  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  a:not(.btn) {
    text-decoration: underline;
  }

  body {
    min-width: 992px !important;
  }

  .container {
    min-width: 992px !important;
  }

  .navbar {
    display: none;
  }
}

body {
  overflow-x: hidden;
}

p {
  line-height: 1.75;
}

#services {
  color: #193647;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center left;
  background-size: contain;
}

.divide {
  position: relative;
  background-image: url("../assets/img/divide.webp");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center right;
  background-size: cover;
}

.hiw {
  padding-left: 30px;
  padding-bottom: 10px;
}

.hiw-text {
  font-size: 14px;
}


.hiw-section {
  padding: 50px 20px;
  border-top-right-radius: 80px;
  background: linear-gradient(0deg, rgba(249, 249, 249, 1) 0%, rgba(248, 248, 248, 1) 25%, rgba(220, 166, 159, 0.5) 100%);
}

.icons {
  display: block;
  margin-bottom: 30px !important;
  width: 50px;
  height: 50px;
}

.fa-bars {
  margin: 2px;
}

.circle {
  width: 540px;
  height: 540px;
  background: #ccc;
  background-image: url("../assets/img/bg-2.webp");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.service-section {
  padding: 50px 0;
  padding-top: 50px;
  position: relative;
}

.service-text {
  padding: 12px 0;
  font-size: 18px;
  position: relative;
  border-top: solid 1px #DCA69F;
  border-top-style: dashed;
  margin: 0 !important;
}

.features {
  padding: 70px 20px;
  border-top-left-radius: 80px;
  background: rgb(249, 249, 249);
  background: linear-gradient(0deg, rgba(249, 249, 249, 1) 0%, rgba(248, 248, 248, 1) 25%, rgba(220, 166, 159, 0.5) 100%);
  text-align: center;
  height: 700px;
}

.feature-text {
  line-height: normal;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: max-content;
}

.feature-text:hover {
  overflow: visible;
  white-space: normal;
  width: auto;
  height: max-content;
  /* margin-bottom:80px; */
}

.cta {
  /* height: 500px; */
  padding: 70px;
  border-top-right-radius: 80px;
  background: rgb(249, 249, 249);
  background: linear-gradient(0deg, rgba(249, 249, 249, 1) 0%, rgba(248, 248, 248, 1) 25%, rgba(220, 166, 159, 0.5) 100%);
}

.cta-text {
  display: block;
  justify-content: center;
  padding: 80px 0;
  padding-bottom: 40px;
  line-height: 2.0;
}

.cta-btn {
  /* padding: 0.7rem; */
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  font-weight: 500;
  border-radius: 10px;
  background: #193647;
  margin-right: 10px;
}

.google {
  box-shadow: 0px 15px 20px rgba(25, 54, 71, 0.35);
}

.apple {
  box-shadow: 0px 15px 20px rgba(142, 148, 151, 0.35);
}

.cta-btn img {
  width: 220px;
  height: auto;
}

.demo {
  padding: 0 30px;
}

.cta .demo img {
  width: 100%;
  float: right;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-section {
  /* padding: 0 30px; */
  color: #ffffff;
}

.footer-section .row {
  color: #ffffff;
  /* height: 400px */
  padding: 40px 0;
}

.pages, .social {
  color: #ffffff;
  line-height: 3.0;
  font-size: 16px;
  margin: 0;
}

.footer-logo img {
  display: block;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.page-list {
  display: block;
  margin: auto;
  width: fit-content;
}


.footer-address {
  display: block;
  margin: auto;
  width: fit-content;
}

.message {
  width: 80%;
  float: left;
  font-size: 16px;
  font-weight: 400;
  color: #193647;
  padding: 11px 20px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: solid 1px #fff;
  outline: none;
  margin: 0px;
}

.chatbox {
  max-width: 350px;
  /* background: #193647; */
  background: #fff;
  border-radius: 6px;
  padding: 0px;
}

.chat-btn {
  width: 20%;
  background-color: #193647;
  padding: 12px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
  outline: none;
  float: right;
}

.white-space {
  line-height: 50px;
}

.white-space-2 {
  line-height: 100px;
}

.card-space {
  /* display: block; */
  padding: 24px;
}

.clear-text {
  padding-right: 10px;
  font-size: 16px;
  line-height: 2.0;
  text-align: justify;
  margin: 0px;
}

.clear-text-img {
  display: block;
  text-align: left;
  color: #193647;
  /* background-image: url("../assets/img/portfolio/cm.webp"); */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center right;
  background-size: cover;
  min-height: 100%;
  /* min-h */
}
.clear-text-img img{

  min-height: 100%;

}


button .chat-btn {
  color: #fff;
}

.address-section {
  background: #F9F9F9;
  padding: 80px 20px;
  border: 2px dashed #193647;
  font-size: 16px;
}

.page-section {
  /* margin-top: 2rem; */
  /* height: 700px */
}

.test {
  /* padding-top: 6rem; */
  /* padding-bottom: 6rem; */
  display: inline-inline-block;
  text-align: left;
  color: #193647;
  background-image: url("../assets/img/hiw-bg.webp");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center left;
  background-size: contain;
  margin: auto;
}

.float-img {
  position: absolute;
  left: -88px;
  /* float: left; */
  /* height: -webkit-fill-available; */
}

.left {
  float: left;
  margin-right: 0em;
  width: 10%;
  position: relative;
}

.right {
  float: right;
  margin-left: 0em;
  padding: 0px;
  padding-right: 0px;
  padding-left: 60px;
  width: 90%;
}

.page-section h2.section-heading {
  font-size: 40px;
  font-weight: 700;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.page-section h3.section-subheading {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  /* font-style: italic; */
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  section {
    padding: 2rem 0;
  }
}

::-moz-selection {
  background: #193647;
  text-shadow: none;
}

::selection {
  background: #f2f2f2;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.btn-xl {
  padding: 15px 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  font-weight: 500;
  border-radius: 80px;
}

.btn-md {
  padding: 0.7rem 6rem;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 80px;
}

.btn-social {
  margin-right: 4px;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}

#mainNav .navbar-toggler {
  padding: 0.85rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #193647;
  border: 0;
}

#mainNav .navbar-brand {
  color: #193647;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

#mainNav .navbar-brand img {
  height: 1.5rem;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #193647;
  letter-spacing: 0.0625em;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #193647;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: #ffffff;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }

  #mainNav .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
  }

  #mainNav .navbar-brand img {
    height: 2rem;
    transition: height 0.3s ease-in-out;
  }

  #mainNav.navbar-shrink {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #fff;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }

  #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem;
  }

  #mainNav .navbar-nav .nav-item {
    margin-right: 2rem;
  }

  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }

  .footer-2 {
    display: none !important;
  }
}

header.masthead {
  padding-top: 7rem;
  padding-bottom: 0rem;
  text-align: left;
  color: #193647;
  background-image: url("../assets/img/header-bg.webp");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center right;
  background-size: contain;
}

header.masthead-2 {
  text-align: left;
  color: #ffffff;
  background-image: url("../assets/img/header-2.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  background-color: #A2A9AD;
  height: auto;
  padding: 100px 0;
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hiw-page-section {
  text-align: left;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center left;
  background-size: contain;
  background-color: #f9f9f9;
  height: auto;
  padding: 50px 0;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header.masthead .masthead-subheading {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

header.masthead .masthead-heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 2rem;
  margin-right: 11rem;
  font-family: 'Poppins', sans-serif;
}

header.masthead-2 .masthead-subheading {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

header.masthead-2 .masthead-heading {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
  width: 40%;
}

@media (min-width: 768px) {
  header.masthead .masthead-subheading {
    font-size: 18px;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }

  header.masthead .masthead-heading {
    font-size: 46px;
    font-weight: 800;
    line-height: 55px;
    margin-bottom: 3rem;
    margin-top: 6rem;
    margin-right: 0rem;
  }

  header.masthead-2 .masthead-subheading {
    font-size: 18px;
    line-height: 2.25rem;
  }

  header.masthead-2 .masthead-heading {
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
    margin-bottom: 1rem;
    margin-right: 0rem;
    text-transform: capitalize;
  }
}









section#contact {
  background-color: #f9f9f9;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #193647;
}

section#contact form#contactForm .form-group {
  margin-bottom: 1.5rem;
}

section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.0rem;
}

section#contact form#contactForm .form-group input.form-control {
  height: auto;
}

section#contact form#contactForm .form-group-textarea {
  height: 100%;
}

section#contact form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}

section#contact form#contactForm p.help-block {
  margin: 0;
}

section#contact form#contactForm .form-control:focus {
  border-color: #193647;
  box-shadow: none;
}

section#contact form#contactForm ::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ced4da;
}

section#contact form#contactForm :-moz-placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: 14px;
  color: #ced4da;
}

section#contact form#contactForm ::-moz-placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ced4da;
}

section#contact form#contactForm :-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ced4da;
}

.footer {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-image: url("../assets/img/footer.webp");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  background-color: #193647;
  padding: 20px 0;
  padding-top: 40px;
}
